.nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    min-width: 100%;
    margin: 0px;
    padding: 12px 0;
    background-color: @nav-bg;
    border-bottom: 1px solid @nav-border;
    }
        h1 {
            font-size: 4rem;
            margin-bottom: 18px;
        }
            a {
                font-size: 1.6rem;
                text-decoration: none;
                color: @river-bend;
                margin: 0 15px;
            }